.aboutBlock {
    padding: 60px 0;
    border-bottom: 1px solid #d9d9d9;
  }
  .aboutBlock .contentHolder {
    text-align: center;
    margin: 0 0 50px;
  }
  
  .aboutBlock .icon {
    font-size: 40px;
    color: #1890ff;
    margin: 0 0 10px;
  }
  
  .aboutBlock .content {
    text-align: center;
  }